body {
    display: flex;
    gap: 10px;
}
section {
    background-color: #88c1d0;
    width: calc(100% - 10px);
}
@media screen and (min-width: 1600px) {
    body {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
@media screen and (min-width: 768px) and (max-width:1599px) {
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    section {
        width: calc(50% - 10px);
    }
}
@media screen and (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}